<template>
  <div class="home">
    <Progress msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Progress from '@/components/Progress.vue'

export default {
  name: 'Home',
  components: {
    Progress
  }
}
</script>
