<template>
  <section>
    <form>
      <b-field
        v-for="setting in settings"
        :key="setting.key"
        :label="setting.title"
      >
        <b-input
          v-model="user_settings[setting.key]"
          v-if="setting.type == 'text'"
        ></b-input>
        <b-numberinput
          v-model="user_settings[setting.key]"
          v-if="setting.type == 'number'"
        ></b-numberinput>
        <b-timepicker
          v-if="setting.type == 'time'"
          v-model="user_settings[setting.key]"
          placeholder="Click to select..."
          :hour-format="'24'"
        ></b-timepicker>
        <b-taginput
          v-if="setting.type == 'tags'"
          v-model="user_settings[setting.key]"
          ellipsis
          icon="label"
          placeholder="Add a tag"
        >
        </b-taginput>
      </b-field>
      <b-button @click="submit" type="submit">Click Me</b-button>
    </form>
  </section>
</template>

<script>
import Cookies from "js-cookie";

export default {
  name: "Settings",
  data: function() {
    return {
      settings: [
        // {
        //   title: "Break Lenght",
        //   key: "breaklen",
        //   type: "number",
        //   required: true,
        //   value: null,
        // },
        {
          title: "Breaks",
          key: "breaks",
          type: "tags",
          required: true,
          value: null,
        },
      ],
      user_settings: {},
    };
  },
  methods: {
    submit: function() {
      Cookies.set("settings", JSON.stringify(this.user_settings));
    },
  },
  mounted: function() {
    this.user_settings = JSON.parse(Cookies.get("settings"), JSON.dateParser);
  },
};
</script>
<style lang="scss">
.label {
  color: white;
}
</style>
