<template>
  <div class="clock">
    <div class="clock">
      <div class="wrap">
        <span class="hour" :style="{ transform: `rotate(${hours * 30}deg)` }" />
        <span
          class="minute"
          :style="{ transform: `rotate(${minutes * 6}deg)` }"
        />
        <span
          class="second"
          :style="{ transform: `rotate(${seconds * 6}deg)` }"
        />


        <span class="dot" />
        <span class="marker"/>
        <span class="area" :style="{  'background-image': `linear-gradient(${90}deg, transparent 50%, lightblue 50%),  linear-gradient(${1* 60}deg, red 50%, transparent 50%)`}"/>
      </div>
    </div>
    <br /><br />
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data: function() {
    return {
      interval: 100,
      seconds: 0,
      hours: 0,
      minutes: 0,
    };
  },
  methods: {
    update_time() {
      let date = new Date();
      this.seconds = date.getSeconds();
      this.hours = date.getHours();
      this.minutes = date.getMinutes();
    },
  },
  mounted() {
    setInterval(this.update_time, this.interval);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #d9d7dd;
}

.clock {
  border-radius: 100%;
  background: #ffffff;
  font-family: "Montserrat";
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minute,
.marker,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.marker {
  background: blue;
  z-index: 1;
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 3;
}

.area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin: auto;
  z-index: 0;


}
</style>
