<template>
  <div>
    <p class="center">Time to end of lesson:</p>
    <b-progress
      :value="90 - minutes_left"
      size="is-large"
      type="is-success"
      :max="90"
      show-value
    >
      {{ Math.round(minutes_left) }} minutes
    </b-progress>
    <p class="center">Time to end of minute:</p>
    <b-progress
      :value="seconds"
      size="is-large"
      type="is-success"
      :max="60"
      show-value
    >
      {{ 60 - seconds }} seconds
    </b-progress>
  </div>
</template>

<script>
import Cookies from "js-cookie";

export default {
  name: "Progress",
  props: {
    msg: String,
  },
  data: function() {
    return {
      minutes_left: 40,
      seconds: 60,
      user_settings: {},
      dates: [],
      date_to: new Date(),
    };
  },
  methods: {
    update_counter: function() {
      this.seconds = new Date().getSeconds();
      this.minutes_left = Math.abs(this.date_to - new Date()) / 1000 / 60;
      if (Math.round(this.minutes_left) === 0) {
        this.date_to_update();
      }
    },
    date_to_update: function() {
      let dates = [];
      this.user_settings.breaks.forEach((element) => {
        let element_new = new Date();
        element_new.setHours(element.split(":")[0]);
        element_new.setMinutes(element.split(":")[1]);
        if (element_new < new Date()) {
          element_new.setDate(element_new.getDate() + 1);
        }
        dates.push(element_new);
      });
      dates.sort(function(a, b) {
        return b - a;
      });
      let result = new Date();
      dates.forEach((element) => {
        if (element > new Date()) {
          result = element;
          return;
        }
      });
      this.date_to = result;
    },
  },
  mounted: function() {
    this.user_settings = JSON.parse(Cookies.get("settings"), JSON.dateParser);
    setInterval(this.update_counter, 1000);
  },
  //   methods: {
  //     date_to_update: function() {
  //       let dates = [];
  //       this.user_settings.breaks.forEach((element) => {
  //         let element_new = new Date();
  //         element_new.setHours(element.split(":")[0]);
  //         element_new.setMinutes(element.split(":")[1]);
  //         dates.push(element_new);
  //       });
  //       dates.sort(function(a, b) {
  //         return b - a;
  //       });
  //       let result = new Date();
  //       dates.forEach((element) => {
  //         console.log(element, new Date());
  //         console.log(element > new Date());
  //         if (element > new Date()) {
  //           console.log("hi");
  //           result = element;
  //           return;
  //         }
  //       });
  //       this.date_to = result;
  //     },
  //   },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.progress.is-large {
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: calc(4.5rem / 2.5);
}

.progress.is-large + .progress-value {
  line-height: 4.5rem !important;
  font-size: calc(4.5rem / 2.5) !important;
}

.center {
  text-align: center;
}
</style>
